.view-page{
    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:40px;
}

.view-card{
    width:700px;

    max-width:90%;

    background:white;

    border-radius:24px;

    overflow:hidden;

    box-shadow:
    0 10px 30px rgba(0,0,0,0.12);
    
    padding: 30px;
}

.view-loading{
    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;

    font-size:24px;

    color:#355563;
  
}
.view-image{
    width:80%;

    max-height:300px;

    object-fit:contain;

    background:white;
    
}